*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
}

body,
#root {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
}

#root {
  display: grid;
  grid-template-rows: 4.8em 93vh repeat(2, auto) auto;
  grid-template-columns: 4em repeat(3, auto) 5em;
  grid-template-areas:
    'navbar navbar navbar navbar navbar'
    'mission mission mission mission mission'
    'mission mission mission mission mission'
    'demo demo demo demo demo'
    'demo demo demo demo demo'
    'footer footer footer footer footer';
}
